/* tailwind.config.js has custom colors */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  html, body{
    @apply h-full;
  }
  body,
  nav, footer { /* nav is for the reddit header */
    @apply bg-white dark:bg-reddit-primary-dark;
    @apply text-black dark:text-reddit-text-body-dark;
  }
  button,
  input[type='text'] { /* text color for buttons and inputs */
    @apply text-black dark:text-reddit-text-body-dark;
  }
  button {
    @apply bg-white dark:bg-reddit-primary-dark;
  }
  input[type='text'] {
    @apply bg-gray-100 dark:bg-reddit-neutral-background-dark;
    text-overflow: clip;
    text-overflow: ellipsis;
  }
  button:hover,
  input[type='text']:hover {
    @apply bg-slate-200 dark:bg-reddit-highlight-dark;
    @apply text-black dark:text-reddit-text-body-dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-reddit-text-title-dark;
  }
  a {
    @apply dark:text-reddit-link-dark dark:hover:text-reddit-link-hover-dark hover:text-gray-800;
  }
}

@layer components {
  .reddit-divider-color {
    @apply border-slate-200 dark:border-slate-800;
  }
}
:root {
  color-scheme: dark;
}